/* Rende trasparente lo sfondo di Ionic */
.transparent-bg {
  --background: transparent;
  --ion-background-color: transparent;
}

/* Posiziona le particelle fisse sullo sfondo */
#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Dietro a tutto */
  // background-color: #0b1121; /* Blu scuro Scientifica */
}

.box-header{
  display: flex;
  height: auto; /* non occupare tutta la viewport */
  padding-top: 24px;
  padding-bottom: 24px;
  padding-inline: 16px;

  /* Aggiunto: Base per l'effetto blur e z-index */
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: relative;
  z-index: 1;
}

.box-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100svh - 120px); /* occupa la viewport senza creare scroll */
  padding: 16px;
  text-align: center;
  
  /* Aggiunto: Applicazione del blur al contenitore principale */
  background: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: relative;
  z-index: 1; /* Assicura che il contenuto sia sopra le particelle */
}

.logo img{
  height: auto;
  max-height: 60px;
}

.center-grid{
  width: auto;
}

.box-container ion-row{
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

/* STILI AGGIORNATI PER I BOTTONI: Colore, Blur e Dimensione Maggiore */
.box-container ion-button {
  /* 1. Sfondo colorato e semitrasparente (Primary Blue: 0, 163, 225) */
  // --background: rgba(0, 163, 225, 0.3); 
  --color: rgba(48, 49, 51); /* Testo bianco */
  --font-weight: normal;
  /* Rimuove completamente il bordo */
  --border-style: none;
  --border-width: 0;
  --box-shadow: none;

  /* 2. Aumenta la dimensione dei bottoni tramite il padding */
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 14px 24px !important; 
  font-size: 1.75em; /* Rende il testo leggermente più grande */
  height: 200px;
  width: 460px;
}

/* Disabilita scroll verticale per questa pagina (se vuoi evitare pagine scrollabili) */
ion-content {
  --overflow: hidden;
}