name: Build Backoffice (Win/Mac)

# Si attiva quando fai push sulla branch 'backoffice'
on:
  push:
    branches:
      - backoffice

permissions:
  contents: write # Fondamentale per creare la Release e caricare i file

jobs:
  build-electron:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Compila in parallelo su Windows e Mac
        os: [windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      # 1. Installa dipendenze globali e del progetto Angular
      - name: Install Dependencies
        run: |
          npm ci
          npm install -g @ionic/cli

      - name: Create Environment File
        shell: bash
        run: |
          mkdir -p src/environments

          echo "export const environment = { production: false };" > src/environments/environment.ts

          # Creiamo il file in un colpo solo usando cat <<EOF
          cat <<EOF > src/environments/environment.prod.ts
          export const environment = {
            production: true,
            firebase: {
              apiKey: "${{ secrets.FIREBASE_API_KEY }}",
              authDomain: "${{ secrets.FIREBASE_AUTH_DOMAIN }}",
              projectId: "${{ secrets.FIREBASE_PROJECT_ID }}",
              storageBucket: "${{ secrets.FIREBASE_STORAGE_BUCKET }}",
              messagingSenderId: "${{ secrets.FIREBASE_MESSAGING_SENDER_ID }}",
              appId: "${{ secrets.FIREBASE_APP_ID }}",
              measurementId: '${{ secrets.FIREBASE_MEASUREMENT_ID }}',
              region: '${{ secrets.FIREBASE_REGION }}',
              storageBucketUrl: '${{ secrets.FIREBASE_STORAGE_BUCKET_URL }}'
            }
          };
          EOF

      # 2. Compila Angular/Ionic (Crea la cartella www)
      - name: Build Ionic App
        run: ionic build --prod --no-interactive

      # 3. Sincronizza la cartella www dentro Electron
      - name: Sync Capacitor Electron
        run: npx cap sync electron

      - name: Bump Version
        run: |
          cd electron
          npm version 1.0.${{ github.run_number }} --no-git-tag-version
  
      # 4. WINDOWS: Installa dipendenze Electron, Compila TS, Pacchettizza
      - name: Build Windows
        if: matrix.os == 'windows-latest'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd electron
          npm install
          npm run build
          npx electron-builder --win --config electron-builder.config.json -p always

      # 5. MAC: Installa dipendenze Electron, Compila TS, Pacchettizza
      # Nota: Il file .dmg non sarà firmato (richiede terminal xattr su Mac M1/M2/M3)
      - name: Build Mac
        if: matrix.os == 'macos-latest'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd electron
          npm install
          npm run build
          npx electron-builder --mac --config electron-builder.config.json -p always

      # 6.Carica i file anche negli Artefatti della Action
      # Così se la release fallisce per qualche motivo, puoi scaricarli da qui.
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: backoffice-${{ matrix.os }}
          path: |
            electron/dist/*.exe
            electron/dist/*.dmg
            electron/dist/*.zip